html {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    color: #4c4c4c;
    line-height: 1.5;
    font-weight: 400;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    //outline: 1px solid red;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.list {
    list-style-type: none;
}

.title {
    font-family: "Yeseva One", serif;
    font-weight: 400;
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.page-header {
    min-height: 750px;
    background-image: url('../images/bg-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-family: "Gentium Book Basic";
    background-color: #191919;
    width: 100%;
}

.nav-background {
}

.page-header__container {
    width: 100%;
}

.page-header__nav {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    min-height: 110px;
    margin-bottom: 80px;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__logo {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 36px;
    font-family: "Yeseva One";
    text-align: center;
    margin: auto 0;
    text-transform: uppercase;
    margin-right: auto;
    opacity: 0.71;
}

.nav__list {
    width: auto;
}

.nav__item {
    text-align: center;
    border-top: 3px solid transparent;
    display: inline-block;
    margin-right: 50px;
    padding-top: 46px;
    padding-bottom: 46px;
    transition: 0.5s ease;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__item--active {
    border-top: 3px solid rgba(255, 255, 255, 0.71);
}

.nav__item:hover {
    border-top: 3px solid #dab33e;
    transition: 0.5s ease;
}

.nav__item:hover .nav__link {
    color:  #dab33e;
    transition: 0.5s ease;
}

.nav__link {
    font-size: 21px;
}

.page-header__social-links {
    margin-left: 20px;
    margin-right: 40px;
}

.page-header__social-links.social-list {
    display: flex;
    width: 81px;
    justify-content: space-between;

}

.social-list__item {
    display: inline-block;
    height: 100%;
}

.social-list__item:hover .fab {
    color: #ffffff;
}

.social-list__link {
    height: 100%;

}

.fab {
    font-size: 28px;
    color: #dab33e;
}

.intro .container {
    display: block;
    padding: 0 145px;
    text-align: center;
}

.intro__title {
    color: #ffffff;
    font-size: 90px;
    text-transform: lowercase;
    line-height: 120px;
    filter: drop-shadow(0.469px 0.883px 1px rgba(1,1,1,0.64));
    position: relative;
    margin-bottom: 105px;
}
.intro__title::after {
    content: "";
    position: absolute;
    background: url('../images/header-divider.png');
    width: 230px;
    height: 43px;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
}

.btn {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 58px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Lato";
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

}

.btn--book {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 14px;
    transition: 0.5s ease;
}

.btn--book:hover {
    background-color: #000000;
    color: #dab33e;
    transition: 0.5s ease;
}

.btn--menu {
    background-color: rgba(255, 255, 255, 0.28);
    margin: 0 14px;
    transition: 0.5s ease;
}

.btn--menu:hover {
    background-color: #ffffff;
    color: #dab33e;
    transition: 0.5s ease;
}

.right-food {
    background-color: #cccccc;
    padding-top: 110px;;
}

.right-food__container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 75px;
}

.right-food__text-block {
    max-width: 46ch;
    text-align: center;
    float: left;
    margin-right: 50px;
}

.right-food__title {
    font-size: 36px;
    line-height: 24px;
    color:  #cc9900; 
    font-weight: 400;
    font-family: "Yeseva One";
    position: relative;
    margin-bottom: 60px;

}

.right-food__title::after {
    content: "";
    position: absolute;
    background-image: url("../images/divider-gold.png");
    width: 247px;
    height: 24px;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.right-food__text {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 24px;
}

.right-food__image {
}

.right-food__image img {
    display: inline-block;
    transform: translateX(20%);
}

.right-food__bg-image img{
    margin-top: -50px;
    
}

.ingredients {
    background-image: url("../images/ing-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ingredients__container {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding: 100px 0;
}

.ingredients__text-block {
    background-color: rgba(0, 0, 0, 0.67);
    padding: 80px 70px;
    text-align: center;
    margin-right: 40px;
    
}

.ingredients__title {
    font-size: 36px;
    line-height: 24px;
    color:  #ffffff; 
    font-weight: 400;
    font-family: "Yeseva One";
    position: relative;
    margin-bottom: 80px;
}

.ingredients__title::after {
    content: "";
    position: absolute;
    background-image: url("../images/divider-white.png");
    width: 247px;
    height: 24px;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.ingredients__text {
    color: #ffffff;
    max-width: 46ch;
    font-size: 16px;
    line-height: 24px;
}

.ingredients__img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;

}

.ingredients__img-container img {
    display: block;
    border-radius: 50%;
}

.menu {
    background-color: #efefef;
    background-image: url("../images/pattern-hex.png");
    background-repeat: repeat;
}

.menu__container {
    max-width: 1054px;
    margin: 0 auto;
    padding: 100px 0;
    /*columns: 454px;*/
    display: flex;
    flex-flow: row wrap;
}

.menu-item {
    width: 474px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 36px;
    padding: 0 10px;
    /*page-break-inside: avoid;
    break-inside: avoid;*/

}
/*
.menu-item:nth-of-type(odd) {
    float: left;
    clear: left;
}

.menu-item:nth-of-type(even) {
    float: right;
    clear: right;
}
*/

.menu-item__title {
    position: relative;
    font-family: "Yeseva one", serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #cc9000;
    text-align: center;
    margin-bottom: 60px;

}
.menu-item__title::after {
    content: "";
    position: absolute;
    background-image: url("../images/divider-gold.png");
    width: 247px;
    height: 24px;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.menu-item__menu-list {
    text-align: left;
    padding: 10px;
    margin-bottom: 20px;
}

.menu-list__title {
    font-family: "Yeseva one", serif;
    font-size: 21px;
    line-height: 24px;
    color: #c89f2d;
    position: relative;
}

.menu-list__title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(200, 159, 45, 0.5);
    bottom: -10px;
    left: 0;
}

.menu-list__price {
    font-family: "Yeseva one", serif;
    font-size: 21px;
    line-height: 24px;
    color: #c89f2d;
    text-align: right;
    transform: translateY(-100%);
}

.menu-list--special {
    position: relative;
    border: 1px solid rgba(200, 159, 45, 0.5);
    border-bottom: transparent;
}

.menu-list--special::after {
    content: 'Special';
    position: absolute;
    background-color: rgba(200, 159, 45, 0.65);
    color: #f8fafa;
    font-size: 14px;
    line-height: 24px;
    padding: 0 10px;
    top: 0;
    right: 0;
    transform: translateY(-100%);
}
.clearfix:before,
.clearfix:after {
  content: ".";    
  display: block;    
  height: 0;    
  overflow: hidden;        
}
