html {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    color: #4c4c4c;
    line-height: 1.5;
    font-weight: 400;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header, footer {
    flex-shrink: 0;
}

main {
    flex: 1 0 auto;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.list {
    list-style-type: none;
}

.title {
    font-family: "Yeseva One", serif;
    font-weight: 400;
}

.link {
    color: #ffffff;
    text-decoration: none;
}

.page-header {
    min-height: 750px;
    background-image: url('../images/bg-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    font-family: "Gentium Book Basic", serif;
    background-color: #191919;
    width: 100%;
}

.page-header__container {
    width: 100%;
}

.page-header__nav {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    min-height: 110px;
    margin-bottom: 80px;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__logo {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 36px;
    font-family: "Yeseva One";
    text-align: center;
    margin: auto 0;
    text-transform: uppercase;
    margin-right: auto;
    opacity: 0.71;
}

.nav__list {
    width: auto;
}

.nav__item {
    text-align: center;
    border-top: 3px solid transparent;
    display: inline-block;
    margin-right: 50px;
    padding-top: 46px;
    padding-bottom: 46px;
    transition: 0.5s ease;
}

.nav__item:last-child {
    margin-right: 0;
}

.nav__item--active {
    border-top: 3px solid rgba(255, 255, 255, 0.71);
}

.nav__item:hover {
    border-top: 3px solid #dab33e;
    transition: 0.5s ease;
}

.nav__item:hover .nav__link {
    color:  #dab33e;
    transition: 0.5s ease;
}

.nav__link {
    font-size: 21px;
}

.page-header__social-links {
    margin-left: 20px;
    margin-right: 40px;
}

.page-header__social-links.social-list {
    display: flex;
    width: 81px;
    justify-content: space-between;

}

.social-list__item {
    display: inline-block;
    height: 100%;
}

.social-list__item:hover .fab {
    color: #ffffff;
}

.social-list__link {
    height: 100%;

}

.fab {
    font-size: 28px;
    color: #dab33e;
}

.intro .container {
    display: block;
    padding: 0 145px;
    text-align: center;
}

.intro__title {
    color: #ffffff;
    font-size: 90px;
    text-transform: lowercase;
    line-height: 120px;
    filter: drop-shadow(0.469px 0.883px 1px rgba(1,1,1,0.64));
    position: relative;
    margin-bottom: 105px;
}
.intro__title::after {
    content: "";
    position: absolute;
    background: url('../images/header-divider.png');
    width: 230px;
    height: 43px;
    bottom: -70px;
    left: 50%;
    transform: translateX(-50%);
}

.btn {
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 58px;
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Lato";
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;

}

.btn--book {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 14px;
    transition: 0.5s ease;
}

.btn--book:hover {
    background-color: #000000;
    color: #dab33e;
    transition: 0.5s ease;
}

.btn--menu {
    background-color: rgba(255, 255, 255, 0.28);
    margin: 0 14px;
    transition: 0.5s ease;
}

.btn--menu:hover {
    background-color: #ffffff;
    color: #dab33e;
    transition: 0.5s ease;
}

.right-food {
    background-image: url("../images/pattern-round.png");
    background-repeat: repeat;
    padding: 100px 0 50px 0;
}

.right-food__container {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 75px;
    background-image:url("../images/dish.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right top;
    min-height: 621px;
}

.right-food__text-block {
    max-width: 46ch;
    text-align: center;
    float: left;
    margin-right: 50px;
}

.right-food__title {
    font-size: 36px;
    line-height: 24px;
    color:  #cc9900; 
    font-weight: 400;
    font-family: "Yeseva One";
    position: relative;
    margin-bottom: 60px;

}

.right-food__title::after {
    content: "";
    position: absolute;
    background-image: url("../images/divider-gold.png");
    width: 247px;
    height: 24px;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.right-food__text {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 24px;
}

.right-food__image img {
    display: inline-block;
    transform: translateX(20%);
}

.ingredients {
    background-image: url("../images/ing-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.ingredients__container {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding: 100px 40px;
}

.text-block {
    background-color: rgba(0, 0, 0, 0.67);
    padding: 80px 70px;
    text-align: center;
}

.ingredients__title {
    font-size: 36px;
    line-height: 24px;
    color:  #ffffff; 
    font-weight: 400;
    font-family: "Yeseva One";
    position: relative;
    margin-bottom: 75px;
}

.ingredients__title::after {
    content: "";
    position: absolute;
    background-image: url("../images/divider-white.png");
    width: 247px;
    height: 24px;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.ingredients__text {
    color: #ffffff;
    max-width: 46ch;
    font-size: 16px;
    line-height: 24px;
}

.ingredients__img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;

}

.ingredients__img-container img {
    display: block;
    border-radius: 50%;
}

.menu {
    background-image: url("../images/pattern-hex.png");
    background-repeat: repeat;
}

.menu__container {
    max-width: 1054px;
    margin: 0 auto;
    padding: 100px 0;
    /*columns: 454px;*/
    display: flex;
    flex-flow: row wrap;
}

.menu-item {
    width: 474px;
    margin: 0 auto;
    margin-bottom: 36px;
    padding: 0 10px;
}

.menu-item__title {
    position: relative;
    font-family: "Yeseva one", serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    color: #cc9900;
    text-align: center;
    margin-bottom: 60px;
}

.menu-item__title::after {
    content: "";
    position: absolute;
    background-image: url("../images/divider-gold.png");
    width: 247px;
    height: 24px;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.menu-item__menu-list {
    text-align: left;
    padding: 10px;
    margin-bottom: 20px;
}

.menu-list__title {
    font-family: "Yeseva one", serif;
    font-size: 21px;
    line-height: 24px;
    color: #c89f2d;
    position: relative;
}

.menu-list__title::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(200, 159, 45, 0.5);
    bottom: -10px;
    left: 0;
}

.menu-list__price {
    font-family: "Yeseva one", serif;
    font-size: 21px;
    line-height: 24px;
    color: #c89f2d;
    text-align: right;
    transform: translateY(-100%);
}

.menu-list--special {
    position: relative;
    border: 1px solid rgba(200, 159, 45, 0.5);
    border-bottom: transparent;
}

.menu-list--special::after {
    content: 'Special';
    position: absolute;
    background-color: rgba(200, 159, 45, 0.65);
    color: #f8fafa;
    font-size: 14px;
    line-height: 24px;
    padding: 0 10px;
    top: 0;
    right: 0;
    transform: translateY(-100%);
}

.reviews  {
    background-image: url("../images/reviews-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.reviews__container {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.reviews__title {
    font-size: 36px;
    color:  #ffffff; 
    font-weight: 400;
    font-family: "Yeseva One", serif;
    position: relative;
    margin-bottom: 75px;
}

.reviews__title::after {
    content: "";
    position: absolute;
    background-image: url("../images/divider-white.png");
    width: 247px;
    height: 24px;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.review__text{
    max-width: 48ch;
    font-family: "Gentium Book Basic", serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 45px;
    color: #dde0df;
    position: relative;
    margin-bottom: 20px;
}

.review__text::after {
    content: "";
    position: absolute;
    background-image: url("../images/quotation.png");
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 32px;
    height: 25px;
    transform: translate(-100%, -25%);
}

.review__source cite {
    font-size: 18px;
    line-height: 45px;
    color: #ffffff;
    font-style: inherit;
}

.reservation {
    background-color: #efefef;
    background-image: url("../images/pattern-round.png");
    background-repeat: repeat;
}

.reservation__container {
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 100px 40px;
}

.form-wrapper {
    padding: 0 70px;
    order: 1;

}

.reservation__title {
    position: relative;
    font-family: "Yeseva one", serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    color: #cc9900;
    text-align: center;
    margin-bottom: 60px;
}

.reservation__title::after {
    content: "";
    position: absolute;
    background-image: url("../images/divider-gold.png");
    width: 247px;
    height: 24px;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}

.reservation__text {
    max-width: 46ch;
    text-align: center;
    margin-bottom: 36px;
}

.reservation__text p:first-child {
    margin-bottom: 10px;
}

.reservation__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 14px;
}

.form__group {
    margin-bottom: 20px;
}

.form__label {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 2;
    font-weight: 700;
    color: #c9a131;
}

.field {
    display: block;
    width: 200px;
    height: 36px;
    border-radius: 0;
    border: 1px solid #c8c6c6;
    background-color: rgba(255, 255, 255, 0.4);
    max-width: 100%;
    padding: 0 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 17px;
    font-style: italic;
    color: #7c7c7c;
}

.field--date {
    position: relative;
}

.field--date::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
}

.field--date::before {
    content: "";
    background-image: url("../images/calendar.png");
    background-repeat: no-repeat;
    background-size: auto;
    width: 13px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-100%, -50%);
  }

.field--date::after {
    content: attr(data-placeholder);
    width: 100%;
    transform: translateX(-34%);
}

.field--date:focus::after,
.field--date:valid::after { 
    display: none
}

.field--party-size {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 17px;
    font-style: italic;
    color: #7c7c7c;
    padding: 0 10px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-image: url("../images/arrow.png");
    background-repeat: no-repeat;
    background-position: right 5% bottom 50%;
    background-size: auto;
}

.field:focus, .field:active {
    border: 1px solid #c89f2d;
    border-bottom: none;
    outline: 1px solid transparent;
}

.field::placeholder {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 17px;
    font-style: italic;
    color: #7c7c7c;
}

.btn--form {
    text-transform: none;
    height: 36px;
    width: 200px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    border: none;
    background-color: rgba(200,159,45,0.98);
}

.btn--form:hover {
    background-color: #000000;
    transition: 0.3s ease;
}

.reservation__galley {
    display: flex;
    order: 0;
}

.gallery__image {
    margin-right: 30px;
}
